# Default fallback hostname when none is detected from the window location
VITE_DEFAULT_HOSTNAME=example.com

# Default fallback redirect URL after successful Turnstile verification
VITE_DEFAULT_REDIRECT_URL=https://cloudflare.com

# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
